{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Darsware Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}" />
{% endblock %}

{% block content %}
{% include "blog/includes/header.html" %}
    <!--Welcome to the Darsware Blog-->
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/darsware_logo.png' %}" alt="Darsware logo" />
            <h2>DARSWARE BLOG</h2>
        </header>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, voluptate, quibusdam, quia voluptas quod quos
            voluptatibus quae doloribus quidem voluptatem. Quisquam voluptatum,
            voluptate, quibusdam, quia voluptas quod quos voluptatibus quae
            doloribus quidem voluptatem.
        </p>
    </section>

    <!--Presenting the latest posts from the Darsware Blog-->
    <section id="latest-posts">
        <h2>Latest Posts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <!--About Darsware-->
    <section id="about">
        <h2>Darsware Mission</h2>
        <p>World Class Education for Egyptian Students</p>
        <p>Darsware provides a top of the line educational content for Egypt's national education</p>
    </section>
{% endblock %}