
<!--load static -->
{% load static %}

<li>
                <article class="post">
                    <a href="">
                        <img src="{% static 'blog/images/darsware_logo.png' %}" alt="Post image" />
                        <div class="post__content">
                            <h3>How to study</h3>
                            <p>
                                lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                            </p>
                        </div>
                    </a>
                </article>
</li>