<!--load static -->
{% load static %}




<li>
                <article class="post">
                    <a href="{% url 'post-detail-page' slug='mission'%}">
                        <img src="{% static 'blog/images/darsware_logo.png' %}" alt="Post image" />
                        <div class="post__content">
                            <h3>{{ post.title }}</h3>
                            <p>
                                {{ post.excerpt }}                            </p>
                        </div>
                    </a>
                </article>
</li>