{% extends "base.html" %}

{% block page_title %}
    All Books
{% endblock %}

{% block content %}
    <ul>
        {% for book in books %}
            <li>
                {% comment %}
                    <a href="{% url "book-detail" book.id %}">{{ book.title }}</a> (Rating: {{ book.rating }})
                {% endcomment %}
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating: {{ book.rating }})
            </li>
        {% endfor %}
    </ul>

    <hr>
    <p>Total Number Of Books: {{ total_number_of_books }}</p>
    <!--rating__avg is key of the dictionary average_rating-->
    <p>Average Rating: {{average_rating.rating__avg }}</p>
{% endblock %}